extends shared/layout.pug

block content
  div
    h1= title
    p Hello World via Controllers & Routing!

  div
    button(type='button' id='btnHome') Home

  script(src="js/build/main.bundle.js")
