extends shared/layout.pug

block content
  div
    h1= title
    p Welcome to a #{title}. This title is being rendered with pug templates!

  div(id='es6Demo')

  div
    button(type='button' id='btnLinks') Links
  
  script(src="js/build/main.bundle.js")
  

