extends ./../shared/layout.pug

block content
  div
    h1= title
    a(href="http://www.github.com/tboccinfuso") Github
    br
    a(href="http://www.twitter.com/boccinfusoT") Twitter

  div
    button(type='button' id='btnHome') Home

  script(src="js/build/main.bundle.js")
